Options -Indexes

RewriteEngine On

# Autoriser l'accès aux fichiers et dossiers réels (CSS, JS, images...)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout le reste → index.php
RewriteRule ^ index.php [QSA,L]
